.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Link-header-title {
    .Header_title {
      color: blue;
    }
  }
  .Header_container-checkout {
    display: flex;
    align-items: center;
    .Header_checkout {
      display: flex;
      height: 40%;
      align-items: center;
      justify-content: center;
      width: 30px;
      background-color: rgb(221, 214, 214);
      border: none;
      padding: 5px;
      border-radius: 5px;
      .Link_header-buy {
        i {
          color: blue;
        }
      }
    }
    .Header-alert {
      color: #33b13a;
      font-size: 14px;
      margin-left: 5px;
    }
  }
}
