.Checkout {
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;
  padding: 0 0 4em 0;

  .Checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
    .Checkout-element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #eee;
      h4 {
        margin: 0;
      }
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      .fas {
        margin: 0 0 0 10px;
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
    }
  }
  .Checkout-sidebar button {
    background-color: dodgerblue;
    border-radius: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    Link {
      text-decoration: none;
    }
  }
}
