.Info {
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;
  margin: 0 0 4em 0;
  input {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    font-feature-settings: "tnum";
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    list-style: none;
    margin: 0 0 8px 0;
    outline: 0;
    padding: 4px 12px;
    width: 100%;
    box-sizing: border-box;
  }
  .Info-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.Info-item .fas {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.Info-item button {
  background-color: transparent;
  border: none;
  outline: none;
}
.Info-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.Info-element h4 {
  margin: 0;
}
h2 {
  margin: 0 0 8px 0;
  padding: 0;
}
h3 {
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 0;
}
.Info-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Info button {
  width: 40%;
  background-color: rgb(248, 248, 247);
  border: none;
  border-radius: 0%;
  padding: 10px 8px;
  color: rgb(33, 33, 122);
}
